.container{
    box-shadow: 0 0 15px var(--gray-40);
    border-radius: 10px;
    padding: 20px;
    box-sizing: content-box;
}

.header{
    display: flex;
    width: 100%;
}

.container.preview{
    max-height: 50px;
}

.formContainer{
    flex: 15;
    min-width: 0;
}

.previewContainer{
    flex: 15;
    display: flex;
    align-items: center;
    gap: 5px;
}

.previewContainer p{
    font-size: 0.8rem;
    font-weight: 600;
    word-break: break-word;
}

.rightIcons{
    display: flex;
}

.draggableIcon > svg, .trashIcon > svg, .chevronIcon > svg, .icon > svg{
    width: 30px;
}

.draggableIcon{
    margin-right: 20px;
}

.trashIcon{
    margin-left: 5px;
}

.trashIcon:hover, .chevronIcon:hover{
    cursor: pointer;
}

.trashIcon:hover{
    color: var(--delete);
}

@media only screen and (max-width: 700px) {
    .container{
        padding: 20px 5px;
    }

    .draggableIcon{
        margin-right: 5px;
    }
}