.container{
    display: flex;
    box-shadow: 0 0 15px var(--gray-40);
    border-radius: 10px;
    padding: 20px;
}

.formContainer{
    flex: 15;
    min-width: 0;
}

.firstRow, .secondRow{
    display: flex;
    gap: 20px;
}

.addNewDetail{
    margin-top: 10px;
}

.detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail:hover{
    cursor: pointer;
}

.detail > svg{
    width: 25px;
    height: 25px;
}

.xMarkIcon:hover{    
    color: var(--delete);
}

.previewContainer{
    flex: 15;
    display: flex;
    align-items: center;
    gap: 5px;
}

.previewContainer p{
    font-size: 0.8rem;
    font-style: italic;
    word-break: break-word;
}

.previewContainer > p:first-child{
    flex: 1;
}

.previewContainer > p:last-child{
    flex: 2;
}

.rightIcons{
    display: flex;
}

.draggableIcon > svg, .trashIcon > svg, .chevronIcon > svg{
    width: 20px;
}

.draggableIcon{
    margin-right: 20px;
}

.trashIcon{
    margin-left: 5px;
}

.trashIcon:hover, .chevronIcon:hover{
    cursor: pointer;
}

.trashIcon:hover{
    color: var(--delete);
}

@media only screen and (max-width: 700px) {
    .firstRow{
        flex-direction: column;
        gap: 0;
    }

    .secondRow{
        flex-direction: column;
        gap: 0;
    }

    .container{
        padding: 20px 5px;
    }

    .draggableIcon{
        margin-right: 5px;
    }
}