:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font: "Coolvetica",system-ui,sans-serif;
  --delete: rgb(235, 105, 105);
  --emerald-5:  #ecfdf5;
  --emerald-10: #d1fae5;
  --emerald-20: #a7f3d0;
  --emerald-30: #6ee7b7;
  --emerald-40: #34d399;
  --emerald-50: #10b981;
  --emerald-60: #059669;
  --emerald-70: #047857;
  --emerald-80: #065f46;
  --emerald-90: #064e3b;
  --emerald-95: #022c22;
  --emerald-opaque-8:  rgb(16 185 129 / 8%);
  --emerald-opaque-12: rgb(16 185 129 / 12%);
  --emerald-opaque-20: rgb(16 185 129 / 20%);
  --gray-5:  #fafafa;
  --gray-10: #f4f4f5;
  --gray-20: #e4e4e7;
  --gray-30: #d4d4d8;
  --gray-40: #a1a1aa;
  --gray-50: #71717a;
  --gray-60: #52525b;
  --gray-70: #3f3f46;
  --gray-80: #27272a;
  --gray-90: #18181b;
  --gray-95: #09090b;
  --gray-opaque-8:  rgb(113 113 122 / 8%);
  --gray-opaque-12: rgb(113 113 122 / 12%);
  --gray-opaque-20: rgb(113 113 122 / 20%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.primaryEmeraldInput{
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.primaryEmeraldInput > label{
  color: var(--gray-50);
  margin-bottom: 5px;
  font-size: 1.1rem;
  width: fit-content;
}

.primaryEmeraldInput > input{
  border-radius: 5px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid var(--gray-30);
  transition: border 200ms ease-in-out;
  font-size: 1rem;
  min-width: 0;
  flex: 1;
}

.primaryEmeraldInput > input[type="date"]:hover{
  cursor: text;
}

.primaryEmeraldInput > input[type="date"]::-webkit-calendar-picker-indicator:hover{
  cursor: pointer;
}

.primaryEmeraldInput > input:focus{
  border: 1px solid var(--emerald-60) !important;
}

.primaryGrayAddInput{
  display: flex;
  justify-content: start;
  height: fit-content;
  padding: 5px 30px;
  background-color: var(--gray-10);
  border-radius: 10px;
  transition: color 200ms ease-in;
}

.primaryGrayAddInput > p{
  font-weight: 600;
  font-size: 1.1rem;
}

.primaryGrayAddInput:hover{
  background-color: var(--gray-20);
  cursor: pointer;
}

.primaryGrayAddInput > svg{
  height: 25px;
  width: 25px;
}

.primaryEmeraldButton{
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: var(--emerald-60);
  border-radius: 3rem;
  padding: 5px 30px;
  box-shadow: 1px 5px 20px var(--emerald-opaque-20);
  transition: color 200ms ease-in;
}

.primaryEmeraldButton > p{
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.primaryEmeraldButton:hover{
  background-color: var(--emerald-70);
  cursor: pointer;
}

.primaryGrayButton{
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 30px;
  background-color: var(--gray-10);
  border-radius: 3rem;
  transition: color 200ms ease-in;
}

.primaryGrayButton > p{
  font-weight: bold;
  font-size: 1.1rem;
}

.primaryGrayButton:hover{
  background-color: var(--gray-20);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
