.container{
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.headerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.headerText > p:first-child{
  font-size: 3rem;
  font-weight: bold;
  max-width: 600px;
  text-align: center;
}

.headerText > p:nth-child(2){
  font-size: 1.25rem;
  color: var(--gray-50);
  text-align: center;
}

.headerText span{
  color: var(--emerald-60);
}

.headerButtons{
  width: 100%;
  display: flex;
  gap: 20px;
  max-width: 400px;
  margin-top: 20px;
}

.headerButtons > div{
  flex: 1;
}

.headerButtons > div:nth-child(2){
  justify-content: center;
}

.headerImages{
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.headerImages > img{
  position: absolute;
  border: 1px solid var(--gray-40);
  border-radius: 10px;
  max-width: 600px;
  width: 70%;
  box-shadow: 0 0 15px var(--gray-40);
}

.headerImages > img:first-child{
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.headerImages > img:nth-child(2){
  left: 50%;
  transform: translateX(-70%);
  top: 30px;
}

.headerImages > img:nth-child(3){
  left: 50%;
  transform: translateX(-30%);
  top: 30px;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: var(--gray-5);
  z-index: 4;
}

.slider{
  width: 90%;
  margin-top: 50px;
}

.slick-next{
  background-color: red;
}

@media only screen and (max-width: 700px) {
    .header{
        width: 100%;
    }

    .headerText > p:first-child{
      font-size: 2rem;
    }

    .headerText > p:nth-child(2){
      font-size: 1rem;
    }

    .headerButtons{
      flex-direction: column;
      width: fit-content;
      gap: 10px;
    }
}