.container{
    width: 100%;
    height: 100%;
    min-height: 0;
}

.bodyContainer{
    display: flex;
    height: 100%;
    max-height: 100%;
    min-height: 0;
    padding: 30px;
}

.sectionProgressContainer{
    flex: 1;
    max-width: fit-content;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--gray-40);
    height: fit-content;
    padding: 10px;
}

.sectionProgressContainer p{
    font-size: 1.3rem;
}

.sectionProgressItem{
    display: flex;
    align-items: center;
}

.sectionProgressItem:hover{
    cursor: pointer;
}

.sectionProgressItem.active{
    background-color: var(--gray-10);
    border-radius: 5px;
}

.sectionProgressItem > p{
    margin-right: 50px;
}

.sectionProgressItem > div{
    display: flex;
    flex: 1;
    justify-content: end;
}

.sectionProgressDot{
    display: flex;
    position: relative;
}

.sectionProgressDot > svg{
    width: 15px;
    height: 15px;
    stroke-width: 1.5;
    stroke: black;
}

.sectionProgressDot.active > svg{
    stroke: var(--emerald-70);
    fill: var(--emerald-70);
}

.sectionProgressBar{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    background-color: black;
    height: 110%;
    width: 2px;
}

.sectionProgressBar.bleedTop{
    background: linear-gradient(180deg, var(--emerald-70) 50%, black);
}

.sectionProgressBar.bleedBottom{
    background: linear-gradient(0deg, var(--emerald-70) 50%, black);
}

.sectionFooter{
    display: flex;
    margin-top: 20px;
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--gray-40);
    height: fit-content;
    min-height: 0;
    padding: 30px;
    max-height: 100%;
    position: relative;
    min-width: 0;
    margin: 0 20px;
}

.sectionHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-bottom: 20px;
}

.sectionHeader > div{
    display: flex;
    align-items: center;
    height: 100%;
}

.sectionHeader > div > svg{
    height: 60%;
}

.sectionHeader > p{
    font-size: 1.8rem;
    font-weight: bold;
}

.sectionNextWrapper{
    margin-left: auto;
}

.sectionPreview{
    flex: 1;
    height: 100%;
}

.pdfPopupContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.previewResume{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.save{
    margin-top: 20px;
}

.previewAndSave{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.previewAndSave > div{
    flex: 1;
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    .bodyContainer{
        flex-direction: column;
        height: fit-content;
    }

    .sectionContainer{
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width: 700px) {
    .bodyContainer{
        padding: 15px;
    }

    .sectionContainer{
        padding: 20px;
    }
}