.container{
    height: 100%;
    width: 100%;
    min-height: 0;
    overflow-y: scroll;
}

.wrapper{
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 50px;
    width: 425px;
    padding: 20px;
}

.titleText {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titleText > p{
    font-size: 2.8rem;
    font-weight: bold;
}

.welcomeText{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.welcomeText > p{
    color: var(--gray-50);
    text-align: center;
}

.lineSpacer{
    height: 1px;
    min-height: 1px;
    background-color: var(--gray-20);
    margin-bottom: 20px;
}

.firstRow{
    margin-bottom: 10px;
}

.secondRow{
    margin-bottom: 20px;
}

.submit{
    width: 100%;
    margin-bottom: 40px;
    padding: 10px 0;
}

.noAccountText{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

.noAccountText > p{
    font-size: 1.1rem;
    color: var(--gray-50);
}

.noAccountText > a{
    font-size: 1.1rem;
    color: var(--emerald-60);
}

.noAccountText > a:hover{
    cursor: pointer;
}

.signUp{
    width: 100%;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .wrapper{
        width: 100%;
    }
}