.container{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 100;
}

.container > p{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.warning{
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}

.warning > p{
    color: #856404;
}

.error{
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.error > p{
    color: #721c24;
}

.success{
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.success > p{
    color: #155724;
}