.container{
    width: 100%;
    height: 100%;
    min-height: 0;
}

.bodyContainer{
    display: flex;
    height: 100%;
    max-height: 100%;
    padding: 30px;
    gap: 30px;
}

.sectionContainer{
    flex: 1;
    height: fit-content;
    max-height: 100%;
    box-shadow: 0 0 15px var(--gray-40);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.previewContainer{
    flex: 1;
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .bodyContainer{
        flex-direction: column;
        height: fit-content;
    }

    .sectionContainer{
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width: 700px) {
    .bodyContainer{
        padding: 10px;
    }

    .sectionContainer{
        padding: 0px;
    }
}