.container{
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow-y: scroll;
}

.gridContainer{
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 30px;
}

.template{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--gray-40);
    transition: all 200ms ease;

}

.template > img{
    max-width: 100%;
    border-radius: 10px;
}

.useTemplate{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    opacity: 0;
}

.template:hover{
    cursor: pointer;
    border: 1px solid var(--emerald-60);
    border-top-width: 4px;
}

.template:hover{
    transform: translateY(-10px);
}

.template:hover .useTemplate{
    opacity: 1;
}

@media only screen and (max-width: 900px) {
    .gridContainer{
        grid-template-columns: repeat(auto-fill, 300px);
    }
}