.container{
    padding: 10px;
    overflow-y: auto;
    flex: 15;
}

.dragging{
    opacity: 0.01;
}

.draggable:not(.draggable:first-child){
    margin-top: 20px;
}

.draggable:hover{
    cursor: grab;
}